@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:wght@320&display=swap');

:root{
    --black-100: oklch(0% 0 0);
    --white-100: oklch(100% 0 0);
}

/*
.stickers::after{
    content: "";
    width: 114px;
    height: 150px;
    left: -20px;
    margin-top: -158px;
    position: absolute;
    background-image: url('https://cdn.nest.rip/uploads/77069418-8fe8-43e9-822b-6269fb5e5918.png');
    mask-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px var(--black-100));
    transform: scaleX(-1);
    z-index: -999;
}
*/

.stickers::before{
    content: "";
    width: 105px;
    height: 105px;
    left: -8px;
    margin-top: -110px;
    position: absolute;
    background-image: url('https://cdn.nest.rip/uploads/15be586a-27cd-4b4b-8d5e-e40e5da66dd4.png');
    background-size: 7rem;
    mask-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px var(--black-100) );
    z-index: 999 !important;
}

/*------------*/

.nerd-face {
    display: inline-block;
    color: oklch(100% 0 0) !important;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('https://cdn.nest.rip/uploads/b33a4d6e-9c7b-4c91-aabb-8c8885f1fc95.svg');
    margin-bottom: -3px;
}

.colon_three {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9Ijk2IiBoZWlnaHQ9Ijk2Ij4KPHBhdGggZD0iTTAgMCBDMzEuNjggMCA2My4zNiAwIDk2IDAgQzk2IDMxLjY4IDk2IDYzLjM2IDk2IDk2IEM2NC4zMiA5NiAzMi42NCA5NiAwIDk2IEMwIDY0LjMyIDAgMzIuNjQgMCAwIFogIiBmaWxsPSIjM0M4OEMxIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLDApIi8+CjxwYXRoIGQ9Ik0wIDAgQzMuMzc1OTYyOTYgMy40NDk1NTM0MyA1Ljg3MjAzMDgyIDYuMzM2NDAwNzIgNi4yNSAxMS4yNSBDNS45NzkxNDQwMyAxNS4zMTI4Mzk1NiA1LjAxNzcwNzIgMTcuNTA3ODE0NDYgMyAyMSBDMi42MDgxMjUgMjEuNzgzNzUgMi4yMTYyNSAyMi41Njc1IDEuODEyNSAyMy4zNzUgQzEuNTQ0Mzc1IDIzLjkxMTI1IDEuMjc2MjUgMjQuNDQ3NSAxIDI1IEMxLjk0ODc1IDI1Ljc0MjUgMi44OTc1IDI2LjQ4NSAzLjg3NSAyNy4yNSBDNy4wNTM0MDgwMyAyOS43Mzc0NDk3NyA4LjczMjg1NzA5IDMyLjA5MTgzNjM2IDkuMzAwNzgxMjUgMzYuMTQ4NDM3NSBDOS4zMzk4MzY2MyA0My41Njg5NTkzNyA3LjM1NTg1NTMyIDQ3Ljg3OTI4MjY2IDIuMzEyNSA1My4zNzUgQy0zLjAyMDAxMzIzIDU3LjkyOTQ5MDgxIC04LjU1NDE4MzA5IDU4LjA5NjYzNDc1IC0xNS4yMzgyODEyNSA1Ny41ODk4NDM3NSBDLTIxLjkxMDg3OTg5IDU2LjU0MzU2OTIgLTI1LjE2MDI5MTQgNTQuMTE1NjY0ODkgLTI5LjUgNDkuMTI1IEMtMzEuMjgxMDQ4NzQgNDUuNDE0NDgxOCAtMzEuNTM3MzExMSA0My4wNjgyMTI2NCAtMzEgMzkgQy0yOS44MTI1IDM3LjA2MjUgLTI5LjgxMjUgMzcuMDYyNSAtMjggMzYgQy0yNS41ODU5Mzc1IDM1LjY4NzUgLTI1LjU4NTkzNzUgMzUuNjg3NSAtMjMgMzYgQy0yMS4yNjk1MzEyNSAzNy43MTQ4NDM3NSAtMjEuMjY5NTMxMjUgMzcuNzE0ODQzNzUgLTE5LjgxMjUgMzkuOTM3NSBDLTE3Ljg4ODM3MDU2IDQzLjAwNTg0MjEzIC0xNy44ODgzNzA1NiA0My4wMDU4NDIxMyAtMTUgNDUgQy0xMS40NTc2ODkzOSA0NS4zODUwMzM3NiAtOS42Mzc0MjY1OCA0NS40MTkzNTk1OSAtNi42MjUgNDMuNDM3NSBDLTQuNDU1NDQ5OTggNDAuMTgzMTc0OTcgLTQuNzA1NDg0OTMgMzcuODI4Njk1ODYgLTUgMzQgQy01LjY4NzA3MDMxIDMzLjgxODI0MjE5IC02LjM3NDE0MDYyIDMzLjYzNjQ4NDM4IC03LjA4MjAzMTI1IDMzLjQ0OTIxODc1IEMtOC40MzM2MTMyOCAzMy4wNzIxNjc5NyAtOC40MzM2MTMyOCAzMy4wNzIxNjc5NyAtOS44MTI1IDMyLjY4NzUgQy0xMC43MDU4MjAzMSAzMi40NDM4NjcxOSAtMTEuNTk5MTQwNjMgMzIuMjAwMjM0MzggLTEyLjUxOTUzMTI1IDMxLjk0OTIxODc1IEMtMTUuMDg3NTkzMTkgMzAuOTY2NDgwMDkgLTE2LjMyMTgyNTcyIDMwLjE1MDY2OTk1IC0xOCAyOCBDLTE4LjUgMjUuNTYyNSAtMTguNSAyNS41NjI1IC0xOCAyMyBDLTE0Ljk4MzU4MzU4IDE5Ljk4MzU4MzU4IC0xMS45NzY3NTIwOCAxOC40MzYwNDkzNiAtOCAxNyBDLTYuNzI5OTY2NzcgMTUuOTQ2ODk3MjMgLTYuNzI5OTY2NzcgMTUuOTQ2ODk3MjMgLTYuODEyNSAxMy41NjI1IEMtNi43MzE2MDAxNyAxMC44MzI2NTMyNSAtNi43MzE2MDAxNyAxMC44MzI2NTMyNSAtOSA5IEMtMTIuMzI5MDk1OSA4LjI0ODE3MzQ3IC0xMi4zMjkwOTU5IDguMjQ4MTczNDcgLTE2IDkgQy0xNy43NDA4OTIyOSAxMC42ODYyMjY1OSAtMTkuMTIzOTM5NzYgMTIuNDk4NjA2MTQgLTIwLjU4OTg0Mzc1IDE0LjQyNTc4MTI1IEMtMjIgMTYgLTIyIDE2IC0yNC42ODc1IDE2LjY4NzUgQy0yNyAxNiAtMjcgMTYgLTI4Ljg3NSAxNC40Mzc1IEMtMzAuNTg2NzY1MjEgMTAuNzI4Njc1MzggLTMwLjI1MTkzNDM3IDguODg3NTg1NjkgLTI5IDUgQy0yMS43NTkxOTYyMiAtMy4zMTA0Njc5OCAtOS42OTU4MDMzMyAtNi45MjU1NzM4MSAwIDAgWiAiIGZpbGw9IiNGNUZCRkQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcwLDIxKSIvPgo8cGF0aCBkPSJNMCAwIEMwLjk5IDAuNjYgMS45OCAxLjMyIDMgMiBDMy4zMTI1IDUuNSAzLjMxMjUgNS41IDMgOSBDMSAxMSAxIDExIC0yLjUgMTEuMzEyNSBDLTQuMjMyNSAxMS4xNTc4MTI1IC00LjIzMjUgMTEuMTU3ODEyNSAtNiAxMSBDLTguMTU1MDI1MzEgNy43Njc0NjIwNCAtOC40Njg1NjEzNSA2Ljc0ODQ5MDc3IC04IDMgQy01Ljg0MTUwNzA5IC0wLjI5NDU0MTgxIC0zLjc4MjYzMjMzIC0wLjQ3MjgyOTA0IDAgMCBaICIgZmlsbD0iI0YwRkFGQyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjYsNTcpIi8+CjxwYXRoIGQ9Ik0wIDAgQzMuNSAwLjI1IDMuNSAwLjI1IDUuNSAyLjI1IEM1LjgzMzcyOCA1LjM4NzA0MzE2IDYuMDI4NDkwMjggNy40MTU1NDE2NiA0LjMxMjUgMTAuMTI1IEMxLjg0NDkyODkyIDExLjY1NjU5NTg0IDAuMzU0ODAxNjkgMTEuNjc4MjIwMjUgLTIuNSAxMS4yNSBDLTQuMzEyNSAxMC4xMjUgLTQuMzEyNSAxMC4xMjUgLTUuNSA4LjI1IEMtNS44MTI1IDUuMTg3NSAtNS44MTI1IDUuMTg3NSAtNS41IDIuMjUgQy0zLjUgMC4yNSAtMy41IDAuMjUgMCAwIFogIiBmaWxsPSIjRjBGQUZDIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMy41LDI3Ljc1KSIvPgo8cGF0aCBkPSJNMCAwIEMzLjU2MjUgMC4zMTI1IDMuNTYyNSAwLjMxMjUgNS41IDEuNSBDNi44OTEwMTk4MyAzLjg3MjkxNjE4IDYuNzgxNjczMTcgNS42MDkzNjQyNCA2LjU2MjUgOC4zMTI1IEM1LjU3MjUgOC44MDc1IDUuNTcyNSA4LjgwNzUgNC41NjI1IDkuMzEyNSBDNC4yMzI1IDcuMzMyNSAzLjkwMjUgNS4zNTI1IDMuNTYyNSAzLjMxMjUgQzIuNTcyNSAyLjk4MjUgMS41ODI1IDIuNjUyNSAwLjU2MjUgMi4zMTI1IEMtMS45Mzk5MDAxOCAzLjYxMzY3NTUyIC0xLjkzOTkwMDE4IDMuNjEzNjc1NTIgLTQuNDM3NSA1LjMxMjUgQy01Ljc2MzU4ODIyIDUuOTkzNDY0MjIgLTcuMDk0MzY2MDEgNi42NjU4MDU4NiAtOC40Mzc1IDcuMzEyNSBDLTQuNDM3NSAwLjQwMzQwOTA5IC00LjQzNzUgMC40MDM0MDkwOSAwIDAgWiAiIGZpbGw9IiM2NDk4QkUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDU3LjQzNzUsMjguNjg3NSkiLz4KPHBhdGggZD0iTTAgMCBDLTAuOTgwNzYxNTIgMi4xODc4NTI2MyAtMS43MDg0ODUyNiAzLjc1NTEyNzYxIC0zLjU2MjUgNS4zMTI1IEMtNS43NzgxNzQwMSA3LjkxMzUwODYyIC01LjY4NzIwNjUgMTAuNjg0Mzg4OSAtNiAxNCBDLTYuNjYgMTMuMzQgLTcuMzIgMTIuNjggLTggMTIgQy03LjkxNjI5NDkyIDcuNTYzNjMwODIgLTcuNDIzMDMwNTMgNS41MDk4MDYwMiAtNC41NjI1IDIuMDYyNSBDLTIgMCAtMiAwIDAgMCBaICIgZmlsbD0iI0RCRUZGNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDgsMjEpIi8+CjxwYXRoIGQ9Ik0wIDAgQzAuOTkgMC4zMyAxLjk4IDAuNjYgMyAxIEMyLjM2MDYyNSAxLjEwMzEyNSAxLjcyMTI1IDEuMjA2MjUgMS4wNjI1IDEuMzEyNSBDMC4wNDE1NjI1IDEuNjUyODEyNSAwLjA0MTU2MjUgMS42NTI4MTI1IC0xIDIgQy0xLjMzIDIuOTkgLTEuNjYgMy45OCAtMiA1IEMtMi42NiA1IC0zLjMyIDUgLTQgNSBDLTQuMzMgNi4zMiAtNC42NiA3LjY0IC01IDkgQy01LjMxMjUgNi43NSAtNS4zMTI1IDYuNzUgLTUgNCBDLTIuNjg3NSAxLjYyNSAtMi42ODc1IDEuNjI1IDAgMCBaICIgZmlsbD0iI0M5RTNFRiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTcsNDApIi8+CjxwYXRoIGQ9Ik0wIDAgQzIuMDIwNTQ4MDQgMS42NDE2OTUyOCA0LjAyMDQzMDU4IDMuMzA5MTE3NzggNiA1IEM2IDUuMzMgNiA1LjY2IDYgNiBDNC4wMiA2IDIuMDQgNiAwIDYgQzAgNC4wMiAwIDIuMDQgMCAwIFogIiBmaWxsPSIjMzIzRDUzIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLDkwKSIvPgo8cGF0aCBkPSJNMCAwIEMxLjIwNjU2MjUgMC4wMzA5Mzc1IDEuMjA2NTYyNSAwLjAzMDkzNzUgMi40Mzc1IDAuMDYyNSBDLTAuNDQzMzc1NDYgMi40NjMyMjk1NSAtMy4xMjY1NDgzNCA0LjUzNTQxMDM3IC02LjU2MjUgNi4wNjI1IEMtMy4wMzA3NzQxMSAwLjA3MzkyMTMyIC0zLjAzMDc3NDExIDAuMDczOTIxMzIgMCAwIFogIiBmaWxsPSIjNTQ4RkJCIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1NS41NjI1LDI5LjkzNzUpIi8+CjxwYXRoIGQ9Ik0wIDAgQzEuNjUgMCAzLjMgMCA1IDAgQzUgMS45OCA1IDMuOTYgNSA2IEMzLjI5MjUwMDIgNC43MTkzNzUxNSAxLjYyNjI2NDA0IDMuMzgyMzI0NDMgMCAyIEMwIDEuMzQgMCAwLjY4IDAgMCBaICIgZmlsbD0iIzIzMzM1MCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTEsMCkiLz4KPC9zdmc+Cg==);
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/*
body::after {
    font-size: 15px;
    content: "Active Windows ";

    position: absolute;
    font-family: 'Noto Sans';
    color: var(--white-100);
    opacity: 0.3;
    bottom: 40px;
    right: 145px;
    pointer-events: none;
    text-shadow: 2px 2px var(--black-100);
}
body::before {
    font-size: 14px;
    content: "Go to settings to activate Windows.";
    position: absolute;
    font-family: 'Noto Sans';
    color: var(--white-100);
    opacity: 0.3;
    bottom: 20px;
    right: 25px;
    pointer-events: none;
    text-shadow: 2px 2px var(--black-100);
}
*/

.cortexKitty{
    content: "";
    width: 115px;
    height: 87px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url('/assets/images/c7fb4aad-b5c7-4c3e-8468-5051487a93ba.gif');
    background-size: 7rem;
    mask-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px var(--black-100) );
    z-index: 999 !important;
}

.fish {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23006ca2' d='M127.46 74.16c-.52-1.82-1.49-3.31-2.37-4.68c-.56-.85-1.18-1.83-1.53-2.78c-.38-1.08-.89-2.03-1.38-2.94c-.46-.85-.89-1.64-1.1-2.38c-.39-1.31-.16-2.94.1-4.66c.08-.51.15-1.01.21-1.51c.25-2.02.62-4.02 1.11-5.95c.07-.24.18-.61.32-1.07c1.6-5.2 2.09-7.82.75-9.62c-.62-.85-1.6-1.33-2.66-1.33c-1.52 0-2.83 1.01-3.81 1.89c-.87.78-1.53 1.68-2.11 2.48l-.46.64c-.94 1.25-1.89 2.48-2.85 3.71c-1.27 1.65-2.55 3.31-3.81 5c-.3.39-.6.86-.94 1.36c-.5.78-1.69 2.6-2.33 2.75c-.38 0-1.12-.36-1.72-.65l-.45-.21c-3.45-1.64-7.18-3.38-11.06-4.99c-.91-1.87-2.31-3.55-3.31-5.35c-1.29-2.34-2.55-6.72-5.93-5.96c-2.46.56-4.96 3.59-6.74 5.24c-.24.22-.46.42-.65.61c-7.38-2.01-14.75-3.58-22.33-3.99c-.58-1.81-.5-3.93-.32-5.87c.21-2.26.77-5.25-2.55-4.25c-2.17.65-4.09 2.55-5.87 3.9c-2.78 2.12-5.1 4.63-7.33 7.31c-2.34.46-4.63 1.03-6.83 1.76c-7.78 2.58-14.58 6.79-20.22 12.53c-1.65 1.69-3.19 3.5-4.58 5.36c-.73.97-1.44 1.98-2.11 3.05l-.43.65c-.57.86-1.21 1.83-1.64 3.1c-.86 2.54.72 4.24 1.47 5.06l.44.4c.01.23 0 .4-.01.55c-.04.92-.02 1.86.9 3.28c2.85 4.37 7.84 7.08 11.49 9.06l.74.41c4.04 2.21 8.38 3.89 13.25 5.17c2.66.69 5.32 1.26 7.96 1.72c.79.62 1.56 1.14 1.75 1.26c3.04 2.04 6.93 4.26 10.71 4.26c2.92 0 .62-2.93-.19-4c-.07-.09-.13-.19-.21-.29c.96.03 1.95.11 2.88.11c2.28 0 4.53-.1 6.71-.29c6.24-.55 12.73-2.14 19.29-4.72c.17-.07.33-.14.49-.21c.26.04.52.08.69.11c2.23.4 4.52 1.31 6.81 1.15c3.18-.23 3.24-1.82 4.31-4.35c.51-1.16.82-2.36 1.3-3.52c.06-.14.13-.31.2-.46c2.92-1.93 5.86-4.11 8.85-6.58c1.01-.82 2.1-1.55 3.26-2.32c1.17-.79 2.39-1.6 3.76-2.6c1.12 0 3.21 1.53 4.21 2.26l1.13.82c1.99 1.45 4.05 2.95 6.37 4.14c1.05.54 3.05 1.45 4.74 1.45c1.72 0 2.64-.89 3.04-1.41c.59-.65 1.09-1.83.59-3.61'/%3E%3Cdefs%3E%3Cpath id='notoV1Fish0' d='M100.67 68.58c-1.23.81-2.48 1.65-3.7 2.65c-7.29 5.99-14.22 10.25-21.19 12.99c-6.07 2.39-12.05 3.86-17.78 4.36c-3.73.34-7.67.36-11.72.08c-4.63-.33-9.38-1.09-14.16-2.23c.61-1.35 1.11-2.76 1.49-4.19c.46-1.71.62-3.94.46-5.88c.71.24 1.4.46 2.11.72c2.24.83 4.52 1.37 6.79 1.39c1.7 0 2.92-1.6 4.25-3.12c1.45-1.67 2.98-3.31 3.28-6.73c.08-.81.35-1.94-.02-2.53c-.43-.71-1.41-.59-1.95-.74c-.72-.18-1.42-.26-2.12-.35c-2.04-.26-3.94-.11-5.95.33c-2.28.49-4.61 1.16-6.82 2.25c-.29.14-.57.32-.86.49c-.44-1.9-1.16-3.75-1.84-5.57c-.53-1.42-.88-2.85-2.13-3.85c-.67-.54-2.38-1.03-2.7.14c-.13.49.17 1.2.53 1.87c.29.54.6 1.05.73 1.42c.92 2.68 1.35 5.5 1.77 8.28c.51 3.31.64 6.1.41 9.46c-.11 1.59-.55 3.12-1.09 4.46q-.225.54-.51 1.05c-3.52-1.07-6.73-2.38-9.73-4.02l-.75-.41c-3.26-1.77-7.32-3.98-9.54-7.29c.02-.26.03-.57.01-.96c.71-1.05 2.51-.66 3.48-.32c1.25.44 2.44 1.28 3.76 1.16c1.27-.11 1.74-1.39 1.05-2.41c-.66-1-2.27-1.47-3.3-1.98c-1.18-.59-2.58-.85-3.85-1.21c-.8-.23-1.64-.32-2.48-.34c.06-.09.1-.17.16-.26c.17-.26.35-.52.5-.78c.58-.93 1.22-1.82 1.85-2.68c1.25-1.67 2.62-3.28 4.11-4.8c1.19-1.21 2.45-2.35 3.75-3.4c.86-.64 2.97-1.83 6.13-1.24c3.35.63 5.33 2.24 11.23 1.31c5.91-.93 6.6-3.7 12.36-3.7s7.78 4.5 14.83 4.84c6.28.29 6.85-3.45 12.88-2.55c6.03.89 6.6 6.7 14.73 6.7s9.28-2.9 17.78 3.29c-.03.28-.1.57-.18.87c-1.08.13-2.08.53-2.92 1.21c-.96.76-2.02 1.47-3.14 2.22'/%3E%3C/defs%3E%3Cuse fill='%2340c0e7' href='%23notoV1Fish0'/%3E%3CclipPath id='notoV1Fish1'%3E%3Cuse href='%23notoV1Fish0'/%3E%3C/clipPath%3E%3Cpath fill='%23fff' d='M5.32 69.55s18.87 6.14 52.2 5.44c28.2-.59 54.3-13.13 54.3-13.13l-.93 5.13l-5.34 1.48S83.68 90.71 58.26 91.32c-9.07.21-22.21-.8-30.33-3.35C13.26 83.33 6.11 75.71 6.11 75.71z' clip-path='url(%23notoV1Fish1)'/%3E%3Cpath fill='%232f2f2f' d='M17.3 60.96c-1.85.1-3.3 1.88-3.2 3.95c.1 2.08 1.68 3.67 3.53 3.57c1.87-.11 3.32-1.87 3.22-3.95c-.11-2.07-1.69-3.68-3.55-3.57'/%3E%3C/svg%3E");
  }
.fish{
    position: absolute;
    width: 5em !important;
    height: 5em !important;
    bottom: 20px;
    right: 25px;
}