
:root {
  color-scheme: dark !important;
  /*--- BG made by/ can be found @ https://github.com/doki-theme */
  background: url(https://cdn.nest.rip/uploads/6e45fc8f-c010-4f17-ba72-9b1d2e4a9a5b.png), var(--bisexual-repeating-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  --OnekoHearts:  oklch(65.49% 0.2613 356.94);
  --OnekoHearts-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2.5em' height='2.5em' viewBox='0 0 24 24'%3E%3Cpath fill='%23f00' d='m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z'/%3E%3C/svg%3E");
  --OnekoHearts-filter: drop-shadow(10px 10px 14px var(--black-100));
  --OnekoCat-filter: drop-shadow(0px 12px 11px var(--black-100));;

  --bisexual-gradient: linear-gradient(90deg, rgba(208,0,112,1) 0%, rgba(140,71,153,1) 44%, rgba(0,50,160,1) 100%);
  --bisexual-repeating-gradient: repeating-linear-gradient(to bottom,rgb(208, 0, 112) 0%,rgb(140, 71, 153) 44%,rgb(0, 50, 160) 100%);

  --trans-gradient: linear-gradient(90deg, rgba(91,206,250,1) 0%, rgba(255,255,255,1) 44%, rgba(245,169,184,1) 100%);
  --trans-repeating-gradient: repeating-linear-gradient(to bottom,rgb(91, 206, 250) 0%,rgb(255, 255, 255) 44%,rgb(245, 169, 184) 100%);;

  --red-label: oklch(65.39% 0.1926 25.14);
  --green-label: oklch(80.2% 0.1398 145.16);
  --blue-label: oklch(81.34% 0.0795 199.75);
  --black-100: oklch(0% 0 0);
  
  --Discord-meta-color: oklch(64.39% 0 0);
  --Discord-mention: '@';
  --Discord-discriminator: '#0000';  
  --Discord-discriminator-shorthand: '#0';  
  --Old-Discord-discriminator: '#9236';

  --Revolt-discriminator: '#2238';

  --Mastodon-Web: "@social.poketube.fun";
  /*-- https://fed.brid.gy/bsky/krstlskll69.github.io --*/

  --Mastodon-Web-2: "@bsky.brid.gy"; 

  --Martix-Web: ":matrix.org";

  --BlueSky-Web: ".github.io";
}

.labels{
  display: inline;
}

.red-label{
  background: var(--red-label);
  color: var(--white-100);
  padding: 0 6px;
  border-radius: 8px;
  margin-top: 5px !important;
  /*margin-bottom: 5px !important;*/
  width: fit-content;
  margin: auto;
}

.green-label{
  background: var(--green-label);
  color: var(--black-100);
  padding: 0 6px;
  border-radius: 8px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  width: fit-content;
  margin: auto;
}

.blue-label{
  background: var(--blue-label);
  color: var(--black-100);
  padding: 0 6px;
  border-radius: 8px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  width: fit-content;
  margin: auto;
}

.logocenter{
  margin-top: -8px;
  display: grid;
  gap: 100rem ;
}

#oneko{
  filter: var(--OnekoCat-filter) !important;
  cursor: grab;
}

.heart::after{
  content: var(--OnekoHearts-img)
}

body {
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: brightness(75%) blur(5px);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

li {
  cursor: pointer !important;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.342);
  border-radius: 1rem;
  &:hover {scale: 0.95; background-color: oklch(0% 0 0); z-index: 99999999; }
  &:active {scale: 1.05; }
  transition: scale 0.6s cubic-bezier(0.34, 1.54, 0.64, 1);
}

a {
  text-decoration: unset;
  color: oklch(100% 0 0);
}

* { margin: unset; }

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(32px) !important;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  
  /*
  border-style: solid;
  border-color: #0f0a0c;
  */

  max-width: 20rem;
}

.portPad{
  padding: 13px;
  width: fit-content;
  height: fit-content !important;
}

.target:hover{
  text-decoration: underline;
}


.backPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(32px) !important;
  border-radius: 2rem;
  padding: 0.5rem
}

.warning{
  color: oklch(60% 0.1759 29.23);
  position: relative !important;
  top: -2px !important;
}

.warning::before{
  display: inline-block;
    position: relative;
  width: 1.5em;
  height: 1.5em;
    bottom: -2px;
    padding-right: 3px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none'%3E%3Cpath fill='%23ffb02e' d='m14.839 5.668l-12.66 21.93c-.51.89.13 2.01 1.16 2.01h25.32c1.03 0 1.67-1.11 1.16-2.01l-12.66-21.93c-.52-.89-1.8-.89-2.32 0'/%3E%3Cpath fill='%23000' d='M14.599 21.498a1.4 1.4 0 1 0 2.8-.01v-9.16c0-.77-.62-1.4-1.4-1.4c-.77 0-1.4.62-1.4 1.4zm2.8 3.98a1.4 1.4 0 1 1-2.8 0a1.4 1.4 0 0 1 2.8 0'/%3E%3C/g%3E%3C/svg%3E");
}

.warning::after{
  display: inline-block;
    position: relative;
  width: 1.5em;
  height: 1.5em;
    bottom: -2px;
    padding-left: 3px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='none'%3E%3Cpath fill='%23ffb02e' d='m14.839 5.668l-12.66 21.93c-.51.89.13 2.01 1.16 2.01h25.32c1.03 0 1.67-1.11 1.16-2.01l-12.66-21.93c-.52-.89-1.8-.89-2.32 0'/%3E%3Cpath fill='%23000' d='M14.599 21.498a1.4 1.4 0 1 0 2.8-.01v-9.16c0-.77-.62-1.4-1.4-1.4c-.77 0-1.4.62-1.4 1.4zm2.8 3.98a1.4 1.4 0 1 1-2.8 0a1.4 1.4 0 0 1 2.8 0'/%3E%3C/g%3E%3C/svg%3E");
}

/*------------Title Panel Formatting------------*/
p{
  color: oklch(86.69% 0 0);
}

.a2{
  display: unset !important;
}

d{
  font-size: small;
}

/*Friends Tab Adding Message*/
d2{
  color: oklch(59.99% 0 0);
  font-size: 0.8rem;
  font-style: italic;
}
d3{
  font-size: 0.6rem;
  font-style: italic;
  color: oklch(73.48% 0 0);
  margin-top: -4px;
  margin-bottom: 10px;
}
h3{
  padding: 0.4rem;
}
d4{
  font-size: 0.5rem;
  font-style: italic;
  color: oklch(73.48% 0 0);
  white-space: pre;
}

/*------------Proflie Pic------------*/
.profilePic {
  width: 8rem;
  border-radius: 50%;
  position: relative;
}

#avatar-decoration {
    display: block;
    width: 9.5rem;
    height: 9.5rem;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: 0.8;
}

.piContainer {
  width: 8.89rem !important;
  height: 8.89rem !important;
  position: relative;
  margin-bottom: -2.4rem !important;
  margin-left: 1rem;
  z-index: 1 !important;
}

.status-indicator {
  position: absolute;
  bottom: 1rem;
  right: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 3;
  border: 2px solid var(--bg-color);
}

.status-online {
  content: url('https://cdn.nest.rip/uploads/44c84b7c-5710-4d8c-9b46-52c4bc6508cf.gif');
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(32px) !important;  
  padding: 3px;
}

.status-idle {
  content: url('https://cdn.nest.rip/uploads/20244c93-a1df-48f6-9dd8-f6eb638c0b37.gif');
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(32px) !important;  
  padding: 3px;
}

.status-dnd {
  content: url('https://cdn.nest.rip/uploads/34a4143e-2480-496d-9d3c-589298e8ab12.gif');
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(32px) !important;  
  padding: 3px;
}

.status-offline {
  content: url('https://cdn.nest.rip/uploads/fafab584-53e0-47ef-a83f-975e17a11c65.gif');
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(32px) !important;  
  padding: 3px;
}

#activities-list {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    font-size: x-small;
    padding: 0.5rem;

    width: unset !important;
    max-width: 100rem;

    margin-top: -8px;
}

.activity-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: unset !important;
    max-width: 20rem;
    inline-size: 150px;
    overflow-wrap: break-word;
}

.activity-large-img {
    position: relative;
}

.activity-large-img img {
    width: 70px;
    height: 70px;
    border: solid 0.5px #222;
    border-radius: 10px;
}

.activity-small-img {
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 55px !important;
    margin-top: -30px !important;
}

.activity-small-img img {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
}

.activity-text {
    flex-grow: 1;
    color: #ffffff;
    padding: .9rem;
}

.activity-text h4 {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
}

.activity-item{
  display: flex !important;
}

.activity-item > span {
    position: absolute;
    white-space: nowrap;
    translate: -50% 0%;
    top: 2rem;
    background-color: oklch(0% 0 0);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    display: none;
}

.activity-item:hover > span {
    display: unset;
}

.clan-badge {
  cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(4px);
    border-radius: 0.375rem;
    padding: 0 0.3rem;
    height: 22px;
    font-size: x-small;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.34, 1.54, 0.64, 1);
}

.clan-badge:hover {
    scale: 0.95;
    background-color: oklch(0% 0 0);
    z-index: 99999999;
}

.clan-badge:active {
    scale: 1.05;
    cursor: pointer;
}

.clan-badge img {
    transition: transform 0.3s ease;
}

.badges-holder{
  max-width: 250px !important;
  margin: 7px;

}

.platform-indicator-container {
    top: 0.4rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(4px);
    border-radius: 0.375rem;
    padding: 0.3rem;
    height: 20px;
    transition: all 0.3s cubic-bezier(0.34, 1.54, 0.64, 1);
    margin-top: 5px;
    cursor: pointer;
    gap: 0.5rem;
}

.platform-icon {
    position: relative;
    display:  inline-flex;
}

.platform-tooltip {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5rem;
    background-color: oklch(0% 0 0);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    display: none;
    z-index: 99999999;
}

.platform-indicator-container:hover {
    scale: 0.95;
    background-color: oklch(0% 0 0);
    z-index: 99999999;
}

.platform-indicator-container:active {
    scale: 1.05;
}

.platform-icon:hover .platform-tooltip {
    display: block;
}

/* Hide on mobile */
@media (max-width: 600px) {
  .piContainer {
    display: none !important;
  }

  .activity-item {
    display: none !important;
  }

  .activity-item-1{
    display: none !important;
  }

  .stickers {
    display: none !important;
  }

  .opener{
    display: none !important;
  }
}

/*------------Discord Server(s) Panel------------*/
a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  > img {
    height: 1em;
    border-radius: 1rem;
  }
}

/*Discord @ Hover*/
.discord {
  position: relative;
  > span {
    position: absolute;
    white-space: nowrap;
    translate: -50% 0%;
    top: 2rem;
    background-color: oklch(0% 0 0);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    display: none;
    z-index: 1 !important;
  }
  &:hover > span { display: unset; }
}

/*------------Custom Panels------------*/

.badge-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(4px);
    border-radius: 0.375rem;
    padding: 0.3rem;
    height: 20px;
    transition: all 0.3s cubic-bezier(0.34, 1.54, 0.64, 1);
    margin-top: 5px;
    cursor: pointer;
}

.badge-item:hover {
    scale: 0.95;
    background-color: oklch(0% 0 0);
    z-index: 99999999;
}

.badge-item:active {
    scale: 1.05;
}

.badge-tooltip {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    top: 1.9rem;
    background-color: oklch(0% 0 0);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    display: none;
    z-index: 99999999;
}

.badge-item:hover .badge-tooltip {
    display: block;
}

.eightyeightthirtyoneBUTTONS{
  display: flex;
}
.eightyeightthirtyone{
  margin-top: 5px;
  padding-left: 5px;
}

/*
#username-container::after{
  color: var(--Discord-meta-color);
  content: var(--Discord-discriminator);
}

#username-container::before{
  color: var(--Discord-meta-color);
  content: var(--Discord-mention);
}
*/

/*
.DiscordHover::after{
  content: var(--Discord-discriminator);
}
*/

.DiscordHover::before{
  content: var(--Discord-mention);
}

.Lock::after {
  display: inline-block;
    position: relative;
    bottom: 0px;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1t3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm6-5q.825 0 1.413-.587T14 15t-.587-1.412T12 13t-1.412.588T10 15t.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3t-2.125.875T9 6z'/%3E%3C/svg%3E");
}

.Robot::after {
  display: inline-block;
    position: relative;
    bottom: 0px;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M9 12q.825 0 1.413-.587T11 10t-.587-1.412T9 8t-1.412.588T7 10t.588 1.413T9 12m6 0q.825 0 1.413-.587T17 10t-.587-1.412T15 8t-1.412.588T13 10t.588 1.413T15 12m-6 9v-4h2v4zm4 0v-4h2v4zm-8 0q-.825 0-1.412-.587T3 19V9q0-2.5 1.75-4.25T9 3h6q2.5 0 4.25 1.75T21 9v10q0 .825-.587 1.413T19 21h-2v-4q0-.825-.587-1.412T15 15H9q-.825 0-1.412.588T7 17v4z'/%3E%3C/svg%3E");
}