/*--- BG made by/ can be found @ https://github.com/doki-theme */
:root {
  color-scheme: dark !important;
  height: 100%;
  background: url('https://cdn.nest.rip/uploads/d817d6b5-29e9-4c25-8012-2b766389723d.jpg');
  background-position: center;
  background-size: 30rem;

  --OnekoHearts:  oklch(65.49% 0.2613 356.94);
  --OnekoHearts-filter: drop-shadow(10px 10px 14px var(--black-100));
  --OnekoCat-filter: drop-shadow(0px 12px 11px var(--black-100));;

  --bisexual-gradient: linear-gradient(90deg, rgba(208,0,112,1) 0%, rgba(140,71,153,1) 44%, rgba(0,50,160,1) 100%) ;

  --trans-gradient: linear-gradient(90deg, rgba(91,206,250,1) 0%, rgba(255,255,255,1) 44%, rgba(245,169,184,1) 100%) ; 

  --red-label: oklch(65.39% 0.1926 25.14);
  --green-label: oklch(80.2% 0.1398 145.16);
  --blue-label: oklch(81.34% 0.0795 199.75);
  --black-100: oklch(0% 0 0) !important;
}

#oneko{
  filter: var(--OnekoCat-filter);
}

.labels{
  display: inline;
}

.red-label{
  background: var(--red-label);
  color: var(--white-100);
  padding: 0 6px;
  border-radius: 8px;
  margin-top: 5px !important;
  /*margin-bottom: 5px !important;*/
  width: fit-content;
  margin: auto;
}

.green-label{
  background: var(--green-label);
  color: var(--black-100);
  padding: 0 6px;
  border-radius: 8px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  width: fit-content;
  margin: auto;
}
.blue-label{
  background: var(--blue-label);
  color: var(--black-100);
  padding: 0 6px;
  border-radius: 8px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  width: fit-content;
  margin: auto;
}


.logocenter{
  margin-top: -8px;
  display: grid;
  gap: 100rem ;
}

div[id*=oneko]{
  cursor: pointer;
}

body {
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: brightness(75%);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

li {
  cursor: pointer !important;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.342);
  border-radius: 1rem;
  &:hover {scale: 0.95; background-color: oklch(0% 0 0); z-index: 99999999; }
  &:active {scale: 1.05; }
  transition: scale 0.6s cubic-bezier(0.34, 1.54, 0.64, 1);
}

a {
  text-decoration: unset;
  color: oklch(100% 0 0);
}

* { margin: unset; }

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(32px) !important;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  
  /*
  border-style: solid;
  border-color: #0f0a0c;
  */

  max-width: 20rem;
}

.portPad{
  padding: 13px;
  width: fit-content;
  height: fit-content !important;
}

.target:hover{
  text-decoration: underline;
}


.backPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(32px) !important;
  border-radius: 2rem;
  padding: 0.5rem
}

.warning{
  color: oklch(60% 0.1759 29.23);
  position: relative !important;
  top: -.50em !important;
}

/*------------Title Panel Formatting------------*/
p{
  color: oklch(86.69% 0 0);
}

.a2{
  display: unset !important;
}

d{
  font-size: small;
}

/*Friends Tab Adding Message*/
d2{
  color: oklch(59.99% 0 0);
  font-size: 0.8rem;
  font-style: italic;
}
d3{
  font-size: 0.6rem;
  font-style: italic;
  color: oklch(73.48% 0 0);
  margin-top: -4px;
  margin-bottom: 10px;
}
h3{
  padding: 0.4rem;
}
d4{
  font-size: 0.5rem;
  font-style: italic;
  color: oklch(73.48% 0 0);
  white-space: pre;
}

/*------------Proflie Pic------------*/
.profilePic {
  width: 8rem;
  border-radius: 50%;
  position: relative;
}

#avatar-decoration {
    display: block;
    width: 9.5rem;
    height: 9.5rem;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: 0.8;
}

.piContainer {
  width: 8.89rem !important;
  height: 8.89rem !important;
  position: relative;
  margin-bottom: -2.4rem !important;
  margin-left: 1rem;
  z-index: 1 !important;
}

.status-indicator {
  position: absolute;
  bottom: 1rem;
  right: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 3;
  border: 2px solid var(--bg-color);
}

.status-online {
  background-color: #43b581;
}

.status-idle {
  content: url('https://cdn.nest.rip/uploads/f1e26ee6-21c5-4042-84a2-00f747c1bc55.svg');
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(32px) !important;  
  padding: 1.9px;
}

.status-dnd {
  content: url('https://cdn.nest.rip/uploads/fd1b3736-785b-4273-a45c-f96bcd166e88.svg');
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(32px) !important;  
  padding: 1.9px;
}

.status-offline {
  content: url('https://cdn.nest.rip/uploads/c75312ed-0bc0-4fad-987e-4466b84e1782.svg');
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(32px) !important;  
  padding: 1.9px;
}

#activities-list {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    font-size: x-small;
    padding: 0.5rem;

    width: unset !important;
    max-width: 100rem;

    margin-top: -8px;
}

.activity-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: unset !important;
    max-width: 20rem;
    inline-size: 150px;
    overflow-wrap: break-word;
}

.activity-large-img {
    position: relative;
}

.activity-large-img img {
    width: 70px;
    height: 70px;
    border: solid 0.5px #222;
    border-radius: 10px;
}

.activity-small-img {
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 55px !important;
    margin-top: -30px !important;
}

.activity-small-img img {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
}

.activity-text {
    flex-grow: 1;
    color: #ffffff;
    padding: .9rem;
}

.activity-text h4 {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
}

.activity-item{
  display: flex !important;
}

.activity-item > span {
    position: absolute;
    white-space: nowrap;
    translate: -50% 0%;
    top: 2rem;
    background-color: oklch(0% 0 0);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    display: none;
}

.activity-item:hover > span {
    display: unset;
}

.clan-badge {
  cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(4px);
    border-radius: 0.375rem;
    padding: 0 0.3rem;
    height: 22px;
    font-size: x-small;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.34, 1.54, 0.64, 1);
}

.clan-badge:hover {
    scale: 0.95;
    background-color: oklch(0% 0 0);
    z-index: 99999999;
}

.clan-badge:active {
    scale: 1.05;
    cursor: pointer;
}

.clan-badge img {
    transition: transform 0.3s ease;
}

.badges-holder{
  max-width: 250px !important;
  margin: 7px;

}

.platform-indicator-container {
    top: 0.4rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(4px);
    border-radius: 0.375rem;
    padding: 0.3rem;
    height: 20px;
    transition: all 0.3s cubic-bezier(0.34, 1.54, 0.64, 1);
    margin-top: 5px;
    cursor: pointer;
    gap: 0.5rem;
}

.platform-icon {
    position: relative;
    display:  inline-flex;
}

.platform-tooltip {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5rem;
    background-color: oklch(0% 0 0);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    display: none;
    z-index: 99999999;
}

.platform-indicator-container:hover {
    scale: 0.95;
    background-color: oklch(0% 0 0);
    z-index: 99999999;
}

.platform-indicator-container:active {
    scale: 1.05;
}

.platform-icon:hover .platform-tooltip {
    display: block;
}

/* Hide on mobile */
@media (max-width: 600px) {
  .piContainer {
    display: none !important;
  }

  .activity-item {
    display: none !important;
  }

  .activity-item-1{
    display: none !important;
  }

  .maxwell {
    display: none !important;
  }

  .opener{
    display: none !important;
  }
}

/*------------Discord Server(s) Panel------------*/
a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  > img {
    height: 1em;
    border-radius: 1rem;
  }
}

/*Discord @ Hover*/
.discord {
  position: relative;
  > span {
    position: absolute;
    white-space: nowrap;
    translate: -50% 0%;
    top: 2rem;
    background-color: oklch(0% 0 0);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    display: none;
    z-index: 1 !important;
  }
  &:hover > span { display: unset; }
}

/*------------Custom Panels------------*/
.vencordPanel{
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(255,182,193);
  color: oklch(0% 0 0);
  border-radius: 1rem;
  &:hover {scale: 0.95; background-color: rgb(252,108,133); z-index: 99999999; }
  &:active {scale: 1.05; }
  transition: scale 0.6s cubic-bezier(0.34, 1.54, 0.64, 1);
}

.equicordPanel{
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(166,231,255);
  color: oklch(0% 0 0);
  border-radius: 1rem;
  &:hover {scale: 0.95; background-color: rgb(0,183,235); z-index: 99999999; }
  &:active {scale: 1.05; }
  transition: scale 0.6s cubic-bezier(0.34, 1.54, 0.64, 1);
}

.badge-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(4px);
    border-radius: 0.375rem;
    padding: 0.3rem;
    height: 20px;
    transition: all 0.3s cubic-bezier(0.34, 1.54, 0.64, 1);
    margin-top: 5px;
    cursor: pointer;
}

.badge-item:hover {
    scale: 0.95;
    background-color: oklch(0% 0 0);
    z-index: 99999999;
}

.badge-item:active {
    scale: 1.05;
}

.badge-tooltip {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    top: 1.9rem;
    background-color: oklch(0% 0 0);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    display: none;
    z-index: 99999999;
}

.badge-item:hover .badge-tooltip {
    display: block;
}
.eightyeightthirtyoneBUTTONS{
  display: flex;
}
.eightyeightthirtyone{
  margin-top: 5px;
  padding-left: 5px;
}

