<div
    class="flex w-full flex-col gap-2 rounded-2xl border border-zinc-300 bg-zinc-100 px-8 py-6 text-neutral-800 dark:border-zinc-800 dark:bg-zinc-900 dark:text-neutral-300"
>
    <slot />
</div>
