<footer class="flex flex-col items-center justify-center py-12 text-sm text-neutral-400 text-center gap-1">
  <span>© {new Date().getFullYear()} KrystalSkull</span>
  <p>
    Skidded from
    <a href="https://naibuu.dev/" class="underline">Naibuu</a>
    and
    <a href="https://www.thororen.com/" class="underline">Thororen</a>.
  </p>
</footer>
