---
import '@/styles/global.css'
import Head from '@/components/Head.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <Head title="Krystal" description="Page not found." />
    </head>
    <body>
        <slot />
    </body>
</html>
